img {
    width: 500px;
}

body {
    background:  url("https://media.giphy.com/media/W3z6kFyMXKKcw/giphy.gif") no-repeat center center fixed; 
  background-size: cover;
    text-align: center;
    font-size: 200%;
    color: white;
    font-family: "Comic Sans MS"
}

h1 {
    color: white;
    font-family: "Comic Sans MS"
}
.btn {
    background-color: grey;
    color: white;
    border: none;
   
}
.wink {
    width: 100px;
}