img {
    width: 500px;
}

body {
    text-align: center;
    font-size: 200%;
    font-family: "Comic Sans MS"
}
h1 {
    color: purple;
    font-family: "Comic Sans MS"
}
.wink {
    width: 200px;
}